
.App {
  text-align: center;
}

.button {
  background: linear-gradient(135deg, #6a11cb, #2575fc); /* 渐变背景 */
  border: none;
  color: white; /* 按钮文字颜色 */
  padding: 12px 24px; /* 内边距 */
  font-size: 16px; /* 字体大小 */
  font-weight: bold; /* 字体加粗 */
  border-radius: 8px; /* 圆角 */
  cursor: pointer; /* 鼠标样式 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 阴影效果 */
  transition: all 0.3s ease; /* 过渡动画 */
}

.button:hover {
  background: linear-gradient(135deg, #2575fc, #6a11cb); /* 悬停时颜色反转 */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* 增强阴影效果 */
  transform: translateY(-2px); /* 悬停时略微上移 */
}

.button:active {
  transform: translateY(0); /* 点击时复位 */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); /* 减弱阴影效果 */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
